h2 {
  color: blue;
  background-color: brown;
  font-size: 20px;
  line-height: 1.5em;
  }
p {
  font-size: 20px;
  line-height: 1.2em;
}
.main-caption {
  font-size: 20px;
  line-height: 1.5em;
  color: rgb(25, 55, 8)
  

}

#caption2{

  color: rgb(44, 88, 55);
  font-size: 50px;

}